*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica bold, sans-serif;
}


#navbar{
    background-color: #16423C;
}


.navbar > .Container{
    background-color: #16423C;

}

.nav-text{
    color: white;
    font-weight: 600;
}

strong{
    color: #16423C;
    font-weight: 700;
}

.ListGroup.Item{
    background-color: #16423C;
    color: white;
}

.category-active{
    background-color: #468585;
    color: white;
}

.menu-transition {
    transition: opacity 0.5s ease-in-out;
    opacity: 1; /* Default opacity is 1 */
  }
  
  .menu-transition-hidden {
    opacity: 0; /* Hidden state */
  }